In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

from sklearn import preprocessing

In [2]:
data = pd.read_csv('data/data.csv', sep=',')

In [3]:
data2 = data[['stop_time', 'driver_age', 'driver_gender',  'driver_race', 'violation', 'search_conducted', 'is_arrested', 'drugs_related_stop']]

In [4]:
display(data2)

,stop_time,driver_age,driver_gender,driver_race,violation,search_conducted,is_arrested,drugs_related_stop
0,1:55,20.0,M,White,Speeding,False,False,False
1,8:15,40.0,M,White,Speeding,False,False,False
2,23:15,33.0,M,White,Speeding,False,False,False
3,17:15,19.0,M,White,Other,False,True,False
4,10:00,21.0,F,White,Speeding,False,False,False
...,...,...,...,...,...,...,...,...
52961,1:55,NaN,NaN,NaN,NaN,False,NaN,False
52962,6:43,25.0,M,White,Speeding,False,False,False
52963,6:49,NaN,NaN,NaN,NaN,False,NaN,False
52964,7:19,25.0,F,White,Speeding,False,False,False
52965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data2.isna().any()

stop_time             True
driver_age            True
driver_gender         True
driver_race           True
violation             True
search_conducted      True
is_arrested           True
drugs_related_stop    True
dtype: bool

In [6]:
data2 = data2.dropna()

In [7]:
display(data2)

,stop_time,driver_age,driver_gender,driver_race,violation,search_conducted,is_arrested,drugs_related_stop
0,1:55,20.0,M,White,Speeding,False,False,False
1,8:15,40.0,M,White,Speeding,False,False,False
2,23:15,33.0,M,White,Speeding,False,False,False
3,17:15,19.0,M,White,Other,False,True,False
4,10:00,21.0,F,White,Speeding,False,False,False
...,...,...,...,...,...,...,...,...
52956,22:22,32.0,M,White,Speeding,False,True,False
52958,22:36,44.0,F,Hispanic,Speeding,False,False,False
52959,23:25,20.0,F,Black,Speeding,False,False,False
52962,6:43,25.0,M,White,Speeding,False,False,False
52964,7:19,25.0,F,White,Speeding,False,False,False

In [16]:
data2[['driver_gender',  'driver_race', 'violation', 'search_conducted', 'is_arrested', 'drugs_related_stop']] = data2[['driver_gender',  'driver_race', 'violation', 'search_conducted', 'is_arrested', 'drugs_related_stop']].apply(preprocessing.LabelEncoder().fit_transform()

SyntaxError: '(' was never closed (3085236294.py, line 1)